In [ ]:
##Display:

In [1]:
print("Malik Zohaib")

Malik Zohaib

In [3]:
print ("madiha") #display:

madiha

In [8]:
#variable
name = "Ali"
print(name)

Ali

In [9]:
##character(string)
name_of_number = '1233'
print(name_of_number)

1233

In [10]:
##number
number1 = 5
number2 = 5
print(number1+number2)

10

In [11]:
weight = 120
print(weight+30)

150

In [12]:
weight = 70
add = 5
result = weight + add
print(result)

75

In [14]:
a = "5" #a already in string
b = 7 # b in numbe format
c = a + str(b) #here b change into string str()
print(c)

57

In [ ]:
name = "ali"

In [ ]:
#chapter 4

In [15]:
print(2+2)

4

In [16]:
a = 10
b = 5
c = a + b
print(c)

15

In [17]:
d = a - b
print(d)

5

In [18]:
x = 6.9
y = 2.1
f = x + y
print(f)

9.0

In [ ]:
#chapter 5

In [ ]:
"a" = "ali" #wrong
n ame = "usman"
1name = "Farhad"
#legal word
for if while

In [ ]:
date = 12/5/2016
date_of_birthay = 12/4/1992
Da